

.calculator {
    width: 30vw;
    height: 70vh;
    border: 1px solid rgb(209, 204, 204);
    margin: auto;
    position: relative;
    top: 100px;
    display: grid;
    gap: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

.calculator .form-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.calculator .form-group input {
    width: 100%;
    font-size: 25px;
    border: 1px solid rgb(143, 139, 139);
    text-align: end;
    outline: none;
    border: radius 5px;
    padding-right: 10px;
    
}

.calculator .form-group button {
    width: 25%;
    font-size: 20px;
    border: none;
    border: radius 5px;
}
.calculator .form-group button:hover {
    background-color: rgb(89, 89, 93);
    color: aliceblue;
}

.evaluate {
    color:aliceblue;
    background-color: rgb(38, 38, 131);
    border-radius: 5px;
}
